#mapCanvas {
    width: 100%;
    height: 600px;
}

.disabledMap {
    pointer-events: none;
}

#CoverPopButtons button {
    float: right;
    font-size: 14pt;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
} 